@import url('global.css');

body {
    background-image: url('../image/home/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
}

/* Inicio Header */

.header-home {
    width: 100%;
    height: 80%;
    position: initial;
    background-color: #040D1A;
    border-bottom: 1px solid #A1A8B2;
}

.links-home a:hover {
    color: #FFF;
    transform: scale(1.1);
    font-weight: 300;
}
/* Fim Header */

/* Início Main */
main {
    width: 100%;
    height: 83%;
}

/* Home */

.main-home {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.representacao-pessoal-home {
    width: 6rem;
    margin-bottom: 1rem;
}

.titulo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

h1 {
    font-family: "Gruppo", sans-serif;
    font-size: 4.5rem;
    font-weight: 100;
    text-shadow: 4px 2px 10px #000;
    border-bottom: 0.8px solid #E3E4FC;
    padding-bottom: 0.5rem;
}

.titulo-home p {
    font-size: 2rem;
    font-weight: 300;
}

.links-home ul {
    display: flex;
    margin-top: 4rem;
    gap: 9rem;
}

.links-home a {
    color: #A1AAB2;
    font-size: 1.5rem;
    font-weight: 200;
    transition: 0.5s;
}


/* Fim Home */

/* Fim Main */

/* Responsividade */

@media (max-width: 875px) {
    h1 {
        font-size: 3.5rem;
    }

    .titulo-home p {
        font-size: 1.5rem;
    }

    .links-home ul {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .links-home a {
        color: #FFF;
    }
}